html {
    background-color: #FEFDD6;
    font-size: 16px;
    font-family: 'Comfortaa', cursive;
}

h1 {
    margin: 0;
    padding: 16px 16px 0px 16px;
    font-size: 32px;
    text-align: center;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    text-align: center;
    background-color: orange;
    border-radius: 3px;
    line-height: 1.5;
    padding: 1vmin 3vmin;
    margin: 1vmin;
    font-size: 3vmin;
    border: 2px solid orange;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.selected-site {
    background-color: #FEFDD6;
    color: orange;
    border: 2px solid orange;
}

nav a {
    font-weight: 900;
    text-decoration: none;
    color: #FEFDD6;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

nav a:active {
    color: orange;
}

nav a:active li {
    background-color: #FEFDD6;
    border: 2px solid orange;
}

p {
    line-height: 1.5;
    letter-spacing: 1px;
    padding: 1vmin;
}

header {
    display: flex;
    flex-direction: column;
}

#facebook-logo {
    height: 24px;
    margin-top: 3px;
}

/* Tablet */
@media screen and (min-width: 480px) {
    body {
        /* background-color: orange; */
    }
}

/* Wide screens */
@media (min-width: 800px) {
    html {
        padding: 3vmin;
    }

    header {
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 5vmin;
    }

    nav {
        align-self: center;
    }

    .page-menu {
        margin: 0;
    }

    .page-menu li {
        margin: 1vmin;
        border-radius: 3x;
        border: 1vmin solid orange;
        font-size: 3vmin;
        font-weight: 700;
        padding: 1vmin 3vmin;
    }

    p {
        line-height: 1;
        letter-spacing: 1px;
        padding: 0.5vmin;
    }
}

/*CSS for really wide screens*/
@media (min-width: 1100px) {
    html {
        padding: 6vmin;
    }

    header {
        flex-direction: column;
        justify-content: space-evenly;
        margin-bottom: 5vmin;
    }

    nav ul {
        display: flex;
        flex-direction: row;
    }
}